.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.header__site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__link {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__link:hover, .header__link:focus {
  color: var(--second-text-color);
}

.header__auth-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__contact-header {
  padding: 10px 20px;
  color: var(--second-text-color);
  border-radius: 100px;
  border: 1.5px var(--second-text-color) solid;
  transition: opacity 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__contact-header:hover, .header__contact-header:focus {
  opacity: 70%;
}

.header__contact-header--second {
  background-color: var(--second-text-color-transparent);
  border-color: var(--second-text-color-transparent);
}

.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 183px;
}

.hero__text-content {
  max-width: 559px;
}

.hero__header {
  color: var(--text-color);
  font-weight: 900;
  font-size: 72px;
}
.hero__header--text {
  color: var(--second-text-color);
}

.hero__text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.hero__form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  border-radius: 100px;
  width: 500px;
  height: 58px;
  border: 1px solid var(--border-color);
  transition: border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero__form-content:hover, .hero__form-content:focus {
  border-color: var(--second-text-color);
  transition: border-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero__form-input {
  background-color: var(--light-text-color);
  color: var(--placecholder-text);
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  border: 0px;
  width: 100%;
  outline: 0px;
}

.hero__form-btn {
  min-width: 127px;
  min-height: 52px;
  background-color: var(--second-text-color);
  color: var(--light-text-color);
  margin-right: 3px;
  border: 1px solid var(--second-text-color);
  border-radius: 100px;
  transition: background-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero__form-btn:hover, .hero__form-btn:focus {
  border-color: var(--second-text-color-hover);
  background-color: var(--second-text-color-hover);
}

.hero__text--second {
  font-size: 14;
  color: var(--second-text-color);
  font-weight: 500;
  margin: 25px 53px 0px 54px;
}

.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 183px;
}

.hero__text-content {
  max-width: 559px;
}

.hero__header {
  color: var(--text-color);
  font-weight: 900;
  font-size: 72px;
}
.hero__header--text {
  color: var(--second-text-color);
}

.hero__text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.hero__form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 100px;
  width: 500px;
  height: 58px;
  border: 1px solid var(--border-color);
  transition: border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero__form-content:hover, .hero__form-content:focus {
  border-color: var(--second-text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero__form-wrapper {
  margin-top: 60px;
}

.hero__form-input {
  flex-grow: 1;
  background-color: var(--light-text-color);
  color: var(--placecholder-text);
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  border: 0px;
  width: 100%;
  outline: 0px;
}

.hero__form-btn {
  min-width: 127px;
  min-height: 52px;
  background-color: var(--second-text-color);
  color: var(--light-text-color);
  margin-right: 3px;
  border: 1px solid var(--second-text-color);
  border-radius: 100px;
  transition: background-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero__form-btn:hover, .hero__form-btn:focus {
  border-color: var(--second-text-color-hover);
  background-color: var(--second-text-color-hover);
}

.hero__text--second {
  font-size: 14;
  color: var(--second-text-color);
  font-weight: 500;
  margin: 25px 53px 0px 54px;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 91px;
  padding: 20px 0px;
}

.clients__item {
  max-height: 73px;
  height: 100%;
  width: auto;
}

.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bckgr-section-color);
  border-radius: 30px;
  margin-top: 50px;
}

.features__header {
  text-align: center;
  margin-top: 80px;
  font-weight: 700;
  font-size: 48px;
}

.features__text {
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-transparent);
}

.features__accordion {
  margin-top: 40px;
}

.start {
  border-radius: 30px;
  margin-top: 50px;
  padding: 50px 0px 60px 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.start:hover, .start:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.start__header {
  font-weight: 900;
  font-size: 68px;
  color: var(--text-color);
}

.start__text {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-transparent);
  margin-top: 15px;
}

.start__form-wrapper {
  margin-top: 30px;
}

.benefits {
  background-color: var(--text-color);
  margin-top: 50px;
}

.benefits__header {
  text-align: center;
  padding-top: 80px;
  font-weight: 700;
  font-size: 48px;
  color: var(--light-text-color);
}

.benefits__content {
  display: flex;
  margin-top: 50px;
  gap: 15px;
}

.benefits__info1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 350px;
  align-items: flex-start;
  background-color: var(--light-transparent);
  border-radius: 30px;
  padding: 50px 70px 50px 55px;
}

.benefits__header2 {
  color: var(--light-text-color);
  font-weight: 900;
  font-size: 30px;
}

.benefits__text {
  color: var(--light-text-color-transparent);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
}

.benefits__link {
  color: var(--light-text-color);
  text-decoration: underline;
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.benefits__link:hover, .benefits__link:focus {
  color: var(--light-text-color-transparent);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.benefits__btn {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  min-width: 146px;
  border: 0px;
  margin-top: 25px;
}

.benefits__btn-text {
  color: var(--light-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.benefits__btn-icon {
  width: 20px;
  height: 20px;
}

.benefits__list {
  border-top: 1px solid var(--border-transparent);
  margin-top: 30px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--title-text-color);
  font-family: "Hind", sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  padding-inline-start: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button:hover,
a,
button:focus {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.photos {
  display: flex;
  justify-content: space-around;
}

.list-pictures {
  display: inline-flex;
  flex-wrap: wrap;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decoration {
  text-decoration: none;
}

.logo {
  margin-right: 93px;
}

address {
  font-style: normal;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

ul.list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list__pictures {
  display: flex;
  gap: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

:root {
  --text-color: #1a1a24;
  --text-color-transparent: rgb(26, 26, 36, 0.7);
  --second-text-color: #ac9cff;
  --second-text-color-hover: #7c6dc5;
  --second-text-color-transparent: rgba(172, 156, 255, 0.15);
  --border-color: rgb(26, 26, 36, 0.2);
  --placecholder-text: rgb(26, 26, 36, 0.5);
  --light-text-color: #ffffff;
  --light-text-color-transparent: rgb(255, 255, 255, 0.7);
  --light-transparent: rgb(255, 255, 255, 0.05);
  --bckgr-section-color: #f3f3f3;
  --border-transparent: rgb(196, 196, 196, 0.2);
}/*# sourceMappingURL=index.css.map */