.footer {
  background-color: var(--background-color-dark);
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.footer__item {
  color: var(--light-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer__item:hover, .footer__item:focus {
  color: var(--light-text-color-transparent);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer__bottom {
  border-top: 1px solid var(--border-transparent);
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 47px;
}

.footer__bottom-text {
  font-size: 14px;
  color: var(--light-text-color-transparent);
  font-weight: 500;
  line-height: 1, 8;
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer__bottom-text:hover, .footer__bottom-text:focus {
  color: var(--light-text-color);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer__social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 262px;
}

.footer__logo-icon {
  width: 193px;
}

.footer__social-item {
  background-color: var(--border-transparent);
  border-radius: 50px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer__social-item:hover, .footer__social-item:focus {
  background-color: var(--light-text-color-transparent);
}

.footer__social-icon {
  fill: var(--light-text-color);
  transition: fill 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.header__site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__link {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__link:hover, .header__link:focus {
  color: var(--second-text-color);
}

.header__auth-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__contact-header {
  padding: 10px 20px;
  color: var(--second-text-color);
  border-radius: 100px;
  border: 1.5px var(--second-text-color) solid;
  transition: opacity 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__contact-header:hover, .header__contact-header:focus {
  opacity: 70%;
}

.header__contact-header--second {
  background-color: var(--second-text-color-transparent);
  border-color: var(--second-text-color-transparent);
}

.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 183px;
}

.hero__text-content {
  max-width: 559px;
}

.hero__header {
  color: var(--text-color);
  font-weight: 900;
  font-size: 72px;
}
.hero__header--text {
  color: var(--second-text-color);
}

.hero__text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.hero__form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 100px;
  width: 500px;
  height: 58px;
  border: 1px solid var(--border-color);
  transition: border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero__form-content:hover, .hero__form-content:focus {
  border-color: var(--second-text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero__form-wrapper {
  margin-top: 60px;
}

.hero__form-input {
  flex-grow: 1;
  background-color: var(--light-text-color);
  color: var(--placecholder-text);
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  border: 0px;
  width: 100%;
  outline: 0px;
}

.hero__form-btn {
  min-width: 127px;
  min-height: 52px;
  background-color: var(--second-text-color);
  color: var(--light-text-color);
  margin-right: 3px;
  border: 1px solid var(--second-text-color);
  border-radius: 100px;
  transition: background-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero__form-btn:hover, .hero__form-btn:focus {
  border-color: var(--second-text-color-hover);
  background-color: var(--second-text-color-hover);
}

.hero__text--second {
  font-size: 14;
  color: var(--second-text-color);
  font-weight: 500;
  margin: 25px 53px 0px 54px;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 91px;
  padding: 20px 0px;
}

.clients__item {
  max-height: 73px;
  height: 100%;
  width: auto;
  transition: fill 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.clients__item:hover, .clients__item:focus {
  fill: var(--second-text-color-hover);
  transition: fill 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--bckgr-section-color);
  border-radius: 30px;
  margin-top: 50px;
}

.features__header {
  margin-top: 80px;
  font-weight: 700;
  font-size: 48px;
}

.features__text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-transparent);
}

.features__accordion {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.features__accordion-item {
  width: 470px;
  background-color: var(--light-text-color);
  padding: 5px 5px;
  border-radius: 30px;
}

.feature__accordion-text {
  border: 1px solid var(--second-text-color);
  border-radius: 30px;
  padding: 25px 34px;
  font-size: 24px;
  font-weight: 900;
  color: var(--second-text-color);
}

.feature__accordion-icon {
  width: 20px;
  height: 20px;
  rotate: 90deg;
}

.start-section {
  background-color: var(--bckgr-section-color);
}

.start {
  border-radius: 30px;
  margin-top: 50px;
  padding: 50px 0px 60px 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.start:hover, .start:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.start__bottom {
  position: relative;
  z-index: 1;
  margin: 0px 0px -150px;
  background-color: var(--light-text-color);
}

.start__header {
  font-weight: 900;
  font-size: 68px;
  color: var(--text-color);
}

.start__text {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-transparent);
  margin-top: 15px;
}

.start__form-wrapper {
  margin-top: 30px;
}

.tariff {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 153px;
}

.tariff__container {
  display: flex;
  flex-direction: row;
  max-width: 577px;
  background-color: #fff;
  border-radius: 30px;
  border: 0px solid transparent;
  box-shadow: 0 0 5px rgba(0, 1, 1, 0.09);
}

.tariff__content {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 60px;
}

.tariff__header {
  font-size: 30px;
  font-weight: 900;
}

.tariff__price {
  font-size: 48px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0px;
  text-wrap: nowrap;
}

.tariff__price--1 {
  font-weight: 500;
  font-size: 48px;
  color: var(--border-color);
}

.tariff__price--2 {
  font-weight: 500;
  font-size: 18px;
}

.tariff__btn {
  padding: 10px 22px;
  background-color: var(--second-text-color);
  color: var(--light-text-color);
  margin-right: 3px;
  border: 1px solid var(--second-text-color);
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: background-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tariff__btn:hover, .tariff__btn:focus {
  border-color: var(--second-text-color-hover);
  background-color: var(--second-text-color-hover);
}

.tariff__price-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--placecholder-text);
}

.tariff__price-text--dark {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.5;
  margin-top: 20px;
}

.tariff__list {
  display: flex;
  flex-direction: column;
  margin: 60px 27px 60px 0px;
  gap: 15px;
}

.tariff__items {
  list-style-type: disc;
}

.tariff__items-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.feedback {
  padding-bottom: 105px;
  background-color: var(--bckgr-section-color);
}

.feedback__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback__header {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  margin-top: 90px;
}

.feedback_list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.feedback__item {
  max-width: 370px;
  background-color: var(--light-text-color);
  border-radius: 30px;
  padding: 30px 40px;
}

.feedback_card-header {
  font-size: 18px;
  font-weight: 900;
  color: var(--text-color);
  margin-top: 3px;
}

.feedback_card-text {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 30px;
}

.feedback__text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.5;
  padding-top: 40px;
  border-top: 1px solid var(--second-text-color-transparent);
}

.benefits {
  background-color: var(--text-color);
  margin-top: 50px;
}

.benefits__header {
  text-align: center;
  padding-top: 80px;
  font-weight: 700;
  font-size: 48px;
  color: var(--light-text-color);
}

.benefits__content {
  display: flex;
  margin-top: 50px;
  gap: 15px;
}

.benefits__info1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 350px;
  align-items: flex-start;
  background-color: var(--light-transparent);
  border-radius: 30px;
  padding: 50px 70px 50px 55px;
}

.benefits__header2 {
  color: var(--light-text-color);
  font-weight: 900;
  font-size: 30px;
}

.benefits__text {
  color: var(--light-text-color-transparent);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
}

.benefits__link {
  color: var(--light-text-color);
  text-decoration: underline;
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.benefits__link:hover, .benefits__link:focus {
  color: var(--light-text-color-transparent);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.benefits__btn {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  min-width: 146px;
  border: 0px;
  margin-top: 25px;
}

.benefits__btn-text {
  color: var(--light-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.benefits__btn-icon {
  width: 20px;
  height: 20px;
}

.benefits__list {
  border-top: 1px solid var(--border-transparent);
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 96px;
  display: flex;
  gap: 15px;
}

.benefits__list {
  margin-top: 50px;
  display: flex;
  gap: 15px;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 380px;
  align-items: center;
  background-color: var(--light-transparent);
  border-radius: 30px;
  padding: 40px 35px;
}

.benefits__item-img {
  width: 50px;
  height: 50px;
}

.benefits__item-header {
  font-size: 30px;
  font-weight: 700;
  color: var(--second-text-color);
  text-align: center;
  margin-top: 20px;
  line-height: 1.3;
}

.benefits__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-top: 20px;
  color: var(--light-text-color-transparent);
}

.price {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.price__header {
  margin-top: 100px;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
}

.price__btns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.price__btn1 {
  outline: 0;
  border: 0;
  padding: 15px 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 18px;
  color: var(--btn-color);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.price__btn1:hover, .price__btn1:focus {
  color: var(--benefits-header1);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.price__btn2 {
  outline: 0;
  border: 0;
  padding: 15px 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 18px;
  color: var(--btn-color);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.price__btn2:hover, .price__btn2:focus {
  color: var(--benefits-header1);
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--title-text-color);
  font-family: "Hind", sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  padding-inline-start: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button:hover,
a,
button:focus {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.photos {
  display: flex;
  justify-content: space-around;
}

.list-pictures {
  display: inline-flex;
  flex-wrap: wrap;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decoration {
  text-decoration: none;
}

.logo {
  margin-right: 93px;
}

address {
  font-style: normal;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

ul.list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list__pictures {
  display: flex;
  gap: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

:root {
  --text-color: #1a1a24;
  --text-color-transparent: rgb(26, 26, 36, 0.7);
  --second-text-color: #ac9cff;
  --second-text-color-hover: hsl(250, 43%, 60%);
  --second-text-color-transparent: rgba(172, 156, 255, 0.15);
  --border-color: rgb(26, 26, 36, 0.2);
  --placecholder-text: rgb(26, 26, 36, 0.5);
  --light-text-color: #ffffff;
  --light-text-color-transparent: rgb(255, 255, 255, 0.7);
  --light-transparent: rgb(255, 255, 255, 0.05);
  --bckgr-section-color: #f3f3f3;
  --border-transparent: rgb(196, 196, 196, 0.2);
  --benefits-header1: rgba(172, 156, 255, 1);
  --benefits-header2: rgba(255, 207, 250, 1);
  --btn-color: rgb(26, 26, 36, 0.4);
  --background-color-dark: #0b0d17;
}/*# sourceMappingURL=index.css.map */