.benefits {
  background-color: var(--text-color);
  margin-top: 50px;
}

.benefits__header {
  text-align: center;
  padding-top: 80px;
  font-weight: 700;
  font-size: 48px;
  color: var(--light-text-color);
}

.benefits__content {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.benefits__info1 {
  display: flex;
  flex-direction: column;
  max-width: 615px;
  max-height: 350px;
  align-items: flex-start;
  background-color: var(--light-transparent);
  border-radius: 30px;
  padding: 50px 70px 50px 55px;
}

.benefits__header2 {
  color: var(--light-text-color);
  font-weight: 900;
  font-size: 30px;
}

.benefits__text {
  color: var(--light-text-color-transparent);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
}

.benefits__link {
  color: var(--light-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.benefits__btn {
  display: flex;
  gap: 15px;
  background-color: transparent;
  min-width: 146px;
  border: 0px;
  margin-top: 25px;
}

.benefits__btn-text {
  color: var(--light-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.benefits__btn-icon {
  width: 20px;
  height: 20px;
}

.benefits__list {
  border-top: 1px solid var(--border-transparent);
  margin-top: 30px;
}
