.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.header__site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__link {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  transition: color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover,
  &:focus {
    color: var(--second-text-color);
  }
}

.header__auth-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__contact-header {
  padding: 10px 20px;
  color: var(--second-text-color);
  border-radius: 100px;
  border: 1.5px var(--second-text-color) solid;
  transition: opacity 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover,
  &:focus {
    opacity: 70%;
  }
}

.header__contact-header--second {
  background-color: var(--second-text-color-transparent);
  border-color: var(--second-text-color-transparent);
}

.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 183px;
}

.hero__text-content {
  max-width: 559px;
}

.hero__header {
  color: var(--text-color);
  font-weight: 900;
  font-size: 72px;

  &--text {
    color: var(--second-text-color);
  }
}

.hero__text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.hero__form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  border-radius: 100px;
  width: 500px;
  height: 58px;
  border: 1px solid var(--border-color);
  transition: border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover,
  &:focus {
    border-color: var(--second-text-color);
    transition: border-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.hero__form-input {
  background-color: var(--light-text-color);
  color: var(--placecholder-text);
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  border: 0px;
  width: 100%;
  outline: 0px;
}

.hero__form-btn {
  min-width: 127px;
  min-height: 52px;
  background-color: var(--second-text-color);
  color: var(--light-text-color);
  margin-right: 3px;
  border: 1px solid var(--second-text-color);
  border-radius: 100px;
  transition: background-color 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    border 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover,
  &:focus {
    border-color: var(--second-text-color-hover);
    background-color: var(--second-text-color-hover);
  }
}

.hero__text--second {
  font-size: 14;
  color: var(--second-text-color);
  font-weight: 500;
  margin: 25px 53px 0px 54px;
}
