// #1A1A24 - kolor tekstu
// #AC9CFF - kolor tekstu-2

:root {
  --text-color: #1a1a24;
  --second-text-color: #ac9cff;
  --second-text-color-hover: #7c6dc5;
  --second-text-color-transparent: rgba(172, 156, 255, 0.15);
  --border-color: rgb(26, 26, 36, 0.2);
  --placecholder-text: rgb(26, 26, 36, 0.5);
  --light-text-color: #ffffff;
}
